section {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_container {
  width: 70%;
  height: 70%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.form_title {
  color: #08a6e4;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.205rem;
  text-transform: uppercase;
}

#name:focus,
#email:focus{
  border-bottom-color: #13253B;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  caret-color: #08a6e4;
  transition: 1s;
}

#name,
#email {
  height: 2.5rem;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #95989a;
  margin-bottom: 2rem;
  transition: 1s;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.contact_check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contact_check + label {
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

.contact_check + label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #95989a;
  border-radius: 0.25rem;
  margin-right: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.contact_check:checked + label::before {
  background-image: url("../images/Checkmark.png");
}

.contact_check:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.contact_check:not(:disabled):active + label::before {
  background-image: url("../images/Checkmark.png");
}

.consent_check {
  display: flex;
}

.contact_consent {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.contact_send {
  text-align: end;
}

.contact_submit {
  height: 57px;
  width: 226px;
  color: #ffffff;
  background-color: #08a6e4;
  border-radius: 35px;
  box-shadow: 5px 10px 14px #07ace629;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.contact_submit:hover{
  cursor: pointer;
  opacity: 2;
}

.contact_text{
  margin-top: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.contact_mail_and_num{
  display: flex;
  margin-top: 2.3rem;
  color: #A5A5A5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.contact_email{
  margin-right: 20px;
}

.contact_email:hover{
  cursor: pointer;
}

.contact_num:hover{
  cursor: pointer;
}

.contact_email,.contact_num{
  display: flex;
  align-items: center;
}

.contact_email::before{
  content: url('../images/Mail\ Icon.png');
  margin-right: 10px;
}

.contact_num::before{
  content: url('../images/Phone\ Icon.png');
  margin-right: 10px;
}
